<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="address" value="10.20.0.14"/>
    <add key="dowrite" value="true"/>
    <add key="tagread" value="L1_C1T3000AI"/>
    <add key="tagwrite" value="DummyStr"/>
    <add key="user" value="evk"/>
    <add key="pass" value="154263"/>
  </appSettings>
</configuration>